Repository nmstate/kubernetes-nmstate, pull requests merged in 2023-05, with the labels that each got.

#1185 openshift, operator: Copy ui-plugin to bindir
  build/Dockerfile.operator.openshift
  controllers/operator/nmstate_controller.go
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, release-note

#1188 handler: Install nmstate from proper arch
  Makefile
  automation/check-patch.setup.sh
  automation/check-patch.unit-test.sh
  automation/publish.sh
  automation/release.sh
  build/Dockerfile
  build/Dockerfile.operator
  hack/build-push-container.docker.sh
  hack/build-push-container.podman.sh
  hack/qemu-user-static.sh
Labels: kind/bug, dco-signoff: yes, size/M, approved, lgtm, release-note

#1189 Add E2E tests and example for VRFs
  docs/examples.md
  docs/examples/vrf.yaml
  test/e2e/handler/states.go
  test/e2e/handler/static_addr_and_route_test.go
  test/e2e/handler/utils.go
  test/e2e/handler/vrf_test.go
Labels: kind/enhancement, dco-signoff: yes, size/L, approved, lgtm, release-note-none, ok-to-test

#1190 Generate events for NMState Handler failures
  cmd/handler/main.go
  controllers/handler/nodenetworkconfigurationpolicy_controller.go
  deploy/handler/role.yaml
  deploy/handler/role_binding.yaml
  docs/user-guide/103-troubleshooting.md
Labels: kind/enhancement, dco-signoff: yes, size/M, approved, lgtm, release-note, ok-to-test
